:root {
  --color-background: #222222;
  --color-primary: #e0234e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;

  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);

  font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

h1 {
  align-self: center;
  margin: 32px;
}

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
}
